<%- include('includes/head.ejs') %>

<%- include('includes/nav.ejs') %>
<h1 style=" margin-top: 100px;">Some error occured</h1>
<p>We are workin on fixing this problem</p>
<%- include('includes/end.ejs') %>
